<div class="container">
    <div class="row g-3 mt-6">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1></h1>
            <h1 class="text-center">User login</h1>
            <div class="container">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <label for="" class="form-label">Username:</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        
                        <label for="" class="form-label">password:</label>
                        <input type="password" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button class="btn btn-success">Login</button>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a href="user_reg.html" class="btn btn-primary">Go to User registration</a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a href="index.html" class="btn btn-primary">back to admin login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>